.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url(https://i.pinimg.com/564x/2b/51/37/2b5137de930e95ad9bfdc6b7956900af.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
}
img {
	margin: auto;
	border: 2px solid rgb(33, 33, 187);
	border-radius: 50px;
}
.visibility-btn {
	justify-content: center;
	margin-top: 50px;
	border-radius: 50px;
	background-color: rgb(56, 228, 205);
	width: 80px;
	height: 50px;
}
.card-title {
	color: beige;
}
